---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Conócenos">
	<main>
		conócenos
	</main>
</Layout>

<style>
	main {
		padding: 65px 5rem 0 5rem;
		max-height: calc(100vh - 65px);
		font-size: 20px;
		line-height: 1.6;
		align-items: center;
        justify-content: center;
		display: flex;
        flex-direction: column;
	}

	.title {
		width: 100%;
		margin-bottom: 5%;
		animation: title-shrink 2s ease-out;

		/* Pause the animation */
		animation-play-state: paused;
		/* Bind the animation to scroll */
		animation-delay: calc(var(--scroll) * -1s);
		/* These last 2 properites clean up overshoot weirdness */
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}
	@keyframes title-shrink {
		to {
			font-size: 5rem;
		}
	}

	video{
		box-sizing: border-box;
		height: 40vh;
  		width: 100%;
		object-fit: cover;
		object-position: center;
	}
</style>
