---
import Dropdown from "../iterable/Dropdown.astro";
---

<nav>
    <a href="/">Inicio</a>
    <!--a href="/proyectos">Proyectos</a-->
    <a href="/conocenos">Conócenos</a>
    <Dropdown title="Participa" items={[{link:"/participa/actor", name:"Actor"}, {link:"/participa/otros", name:"Otros"}]}/>
    <a href="/contactanos">Contáctanos</a>
</nav>

<style>
	a {
		margin: auto 2%;
		color: black;
		text-decoration: none;
		vertical-align: middle;
	}

	a:hover {
		text-decoration: underline;
		text-
	}

	nav {
        padding: 14px 10px;
		width: 100%;
		display: flex;
		top: 0;
		position: fixed;
		background-color: transparent;
		justify-content: center;
		animation: nav 1s ease-out;
		box-shadow: 0px 5px 10px 0px rgba(0,0,0,0);

        /* Pause the animation */
		animation-play-state: paused;
		/* Bind the animation to scroll */
		animation-delay: calc(var(--scroll) * -1s);
		/* These last 2 properites clean up overshoot weirdness */
		animation-iteration-count: 1;
		animation-fill-mode: both;
	}

	@keyframes nav {
		to {
			width: 30%;
			margin: 8px 35%;
			padding: 8px 10px;
			border-radius: 8px;
			background-color: #ffffffba;
			box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
			backdrop-filter: blur(10px);
		}
	}
</style>