---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>MIÑOCA FILMES</h1>
		<video src="src/media/video/landing_scenes.mp4" muted autoplay></video>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
		min-height: 200vh;
	}
	h1 {
		font-size: 7rem;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	video{
		width: 100vh;
		margin: 0 5%;
		object-fit: contain;
	}
</style>
